<h2>Choose Your Enlightenment Stage</h2>
<br><br>
<div class="well col-md-6 col-md-offset-3 text-center">
  <ul class="nav nav-tabs" role="tablist">
    <li><a href="#sakadagami" role="tab" data-toggle="tab">Sakadagami</a></li>
    <li><a href="#anāgāmi" role="tab" data-toggle="tab">Anāgāmi</a></li>
    <li><a href="#arahant" role="tab" data-toggle="tab">Arahant</a></li>
  </ul>
  
  <div class="tab-content">
    <div class="tab-pane active" id="sakadagami"><%= render 'new_org_form1'%></div>
    <div class="tab-pane" id="anāgāmi"><%= render 'new_org_form2'%></div>
    <div class="tab-pane" id="arahant"><%= render 'new_org_form2'%></div>
  </div>
</div>